table, th {
    border: 1px solid black;
    border-collapse: collapse;

  }

  th, td {
    padding: .8em;
    min-width: 3.5em;
    margin-left: 150px;
  }

  thead {
    background: rgb(210, 221, 225);
    color: black;
  }